.info {
    background-color: rgb(187, 221, 246);
    margin: 20px;
}

.cards {
    background-color: rgb(187, 221, 246);
    margin: 20px;
}

.text {
    background-color: rgb(187, 221, 246);
    margin: 20px;
}

.tableFilms {
    background-color: rgb(187, 221, 246);
    margin: 20px;
    padding: 20px;
}